<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="INFO">
	<Appenders>
		<Console name="CONSOLE" target="SYSTEM_OUT">
			<PatternLayout
				pattern="[%-5level] %d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %c{1} - %msg%n" />
		</Console>
	</Appenders>
	<Loggers>
		<Logger name="com.babeex.balls.gui.BallsPanel" level="info">
			<AppenderRef ref="CONSOLE" />
		</Logger>
		<Root level="DEBUG" additivity="false">
			<AppenderRef ref="CONSOLE" />
		</Root>
	</Loggers>
</Configuration>